<h1> Welcome to my profile! </h1>
<div class="profile">
  <h1> Wayne Sanderson </h1>
  <img src="Moms-graduation.jpg" alt="Me with Mom at her graduation, May 7 2010" height="500" width="752" />
  <h2> I'm a MSIS student in the David Eccles School of Business at the University of Utah</h2>
  <p> I want to learn to code because it can be fun, interesting, and is pretty much required by any job function I want to eventually get into doing for my new career </p>
  <a href="http://twitter.com/WLSanderson"> My twitter! </a>
</div>
<p></p>
<div class="profile">
  <h1> Send me a text message. . . </h1>
  <form action="/" method="post">
    <input type="sumbit" value="Enter your mobile # and click to send a SMS" />
    <input id="sms" name="sms" type="text" value="(without dashes)" />
  </form>
  
  