<h1> Wayne Sanderson </h1>
<img src="http://lorempixel.com/output/technics-q-c-800-600-4.jpg" />
<h2> I am a MSIS student in the David Eccles School of Business at the University of Utah</h2>
<p> I want to learn to code because it can be fun, interesting, and is pretty much required by any job function I want to eventually get into doing for my new career </p>
 <a href="http://twitter.com/WLSanderson"> My twitter! </a>