<h1> Read more </h1>
 <p> I just recently graduated, December 2013, with my Bachelors degree in Information Systems and am now pursuing my Master's Degree in the same field' </p>
 <a href="/"> Back </a>