.profile {
  background: darkgray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.profile h1 {
   font-size: 16px;
   text-transform: uppercase;
 }

 .profile img {
   width: 200px;
   height: 200px;
   border-radius: 100px;
 }

html { 
  background: url('https://www.flickr.com/photos/mcleod/8399337241/in/photolist-5Txw8t-dNdNkk-4S9f3H-aKzvE4-9uRbw6-cv8ft-5zuCMB-85b8fx-efoWfy-4XaZuB-t1UBo-4pYNoQ-6rtuia-2ZdABF-5zAruA-bGisT4-9jbeZy-9FRu7x-7nqB2t-FPvFb-7JoDj-7aaDP9-8KvuR-8ET9gK-8qq2tS-e4rtrf-9FUKfq-4qAha1-dZE3LC-eMk1Wr-57bNYg-9hsheb-dGFJ4M-atLYS-67tGXJ-dV2F84-9FRnEx-4v572g-4Xb2r1-4DWxXR-8mqTuM-7ENXBZ-7aeJwV-rKp7X-bc7cHi-arQ9ML-8QGCfB-dqBXrD-7vUb5p-4Jx98j/') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }